---
layout: page
title: Our members
permalink: /our-members/
group: navigation
weight: 2
---

{% assign collection = site.partners %}

<div class="row our-members">
  <div class="col-lg-8">
  {% for item in collection %}
    <div class="row member">
      <div class="col-xs-2">
        <img class="img-responsive" src="{{ item.profile_image_path }}">
      </div>
      <div class="col-xs-10">
        <h5><strong>{{ item.contactName }}</strong></h5>
        <ul>
          {% if item.title %}<li class="uc">{{ item.title }}</li>{% endif %}
          {% if item.email %}<li><i class="fa fa-envelope"></i> <a href="mailto:{{ item.email }}">{{ item.email }}</a></li>{% endif %}
        </ul>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
