<aside class="sidebar-left-inner">
  <a href="/">
    <header class="logo">
      <h1>SEERA</h1>
      <h2>The art of networking</h2>
    </header>
  </a>

<ul class="nav">
  <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Our story</a></li>

  <li id="accordion" {% if page.layout == 'category' %}class="active"{% endif %}>
    <a class="accordion-toggle" href="javascript:void(0);">Partner networks</a>
    <div class="accordion-content {% if page.layout == 'category' %}active{% endif %}">
      <ul>
        {% for category in site.categories %}
          <li {% if category.title == page.title %}class="active"{% endif %}><a href="/categories/{{ category.title | downcase | replace:" ","" }}">{{ category.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </li>

  {% assign pages_list = site.pages | sort:"weight" %}
  {% assign group = 'navigation' %}
  {% include pages_list.html %}
</ul>
</aside>
