@import "bootstrap/_variables";


@media(min-width: 1400px){
  body{
    // font-size: 22px;
  }
}

.main-wrapper{
  a{
    color: $white;
  }
}

// helpers
.uc{
  text-transform: uppercase;
}

// quotes
q {
  display: inline;
}
