---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="row">
  <div class="col-lg-8">
    <div>
      <p><a href="/blog/">&laquo; Back to blog</a></p>
      <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
    </div>

    <article class="post-content">
      {{ content }}
    </article>
  </div>
</div>

<a class="btn btn-block btn-warning editor-link" href="cloudcannon:collections/_posts/{{ page.date | date: '%Y-%m-%d'}}-{{ page.url | replace: '/', '' | replace:"posts", "" }}.md">Edit testimonial</a>
